.main-chat
  .main-chat__group-info
    .main-chat__group-info__left
      .main-chat__group-info__left__group-name
        test
      .main-chat__group-info__left__menber-name
        Member:makoto
    .main-chat__group-info__right
      = link_to 'Edit' , '#' 
  .main-chat__message
    .main-chat__message__upper-info
      .main-chat__message__upper-info__talker
        makoto
      .main-chat__message__upper-info__date
        2020/03/28 (sat)18:00
    .main-chat__message__text
      おはよう！

    .main-chat__message__upper-info
      .main-chat__message__upper-info__talker
        makoto
      .main-chat__message__upper-info__date
        2020/03/28 (sat)18:16
    .main-chat__message__text
      おはよう！

    .main-chat__message__upper-info
      .main-chat__message__upper-info__talker
        makoto
      .main-chat__message__upper-info__date
        2020/03/28 (sat)18:37
    .main-chat__message__text
      おはよう！

  .main-chat__form
    %form.main-chat__form__box
      %input{ type: "text", class: "main-chat__form__box__input-text", placeholder: "type a message"}
      %label{ class: "main-chat__form__box__input-image"}
        =icon('fas', 'image',)
        %input{ type: "file", class: "main-chat__form__box__input-image__file"}
    %input{ type: "submit", class: "main-chat__form__submit-btn", value: "Send"}