.side-chat
  .side-chat__header
    .side-chat__header__box
      .side-chat__header__box__username
        makoto
      .side-chat__header__box__icon
        = link_to '#' , class: "side-chat__header__box__icon__new-group" do
          =icon('fas','edit')
        = link_to '#' , class: "side-chat__header__box__icon__edit-user" do
          =icon('fas','cog')

  .side-chat__groups
    .side-chat__groups__name
      tech-cmap
    .side-chat__groups__message
      まだメッセージがありません

    .side-chat__groups__name
      tech-cmap
    .side-chat__groups__message
      まだメッセージがありません      

    .side-chat__groups__name
      tech-cmap
    .side-chat__groups__message
      まだメッセージがありません  