a{
  text-decoration: none;
  color: inherit;
}

.main-chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;

  &__group-info{
    height: 100px;
    border-bottom: medium solid #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left{
      padding-left: 40px;

      &__group-name{
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
      }

      &__menber-name{
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
      }
    }

    &__right{
      margin: 28px 40px;
      padding: 10px 20px;
      border: solid thin ;
      color: #38aef0;
      background-color: #ffffff;
      font-size: 16px;
    }

  }


  &__message{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    padding: 35px 40px;
    
    &__upper-info{
      display: flex;
      justify-content: left;
      margin-bottom: 12px;

      &__talker{
        color: #333333;
        font-size: 16px;

      }

      &__date{
        color: #999999;
        font-size: 12px;
        padding-left: 8px;

      }
    }

    &__text{
      color: #434A54;
      font-size: 14px;
      margin-bottom: 46px;

    }

  }

  &__form{
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    align-items: center;

    &__box{
      position: relative;
      padding: 10px 10px 10px 50px;
      width: 100%;
      height: calc(100vh-20px);
    

      &__input-text{
        height: 60px;
        width: 100%;
        padding-left: 10px;

      }

      &__input-image{
        position: absolute;
        right: 25px;
        bottom: 20px;
        font-size: 1.5em;
        

        &__file{
          display: none;

        }
      }
    }

    &__submit-btn{
      height: 60px;
      padding: 0px 30px;
      margin: 40px 40px 40px 15px;
      background-color: #38aef0;
      color: white;
      
    }

  }
}