.side-chat{
  background-color: #253141;
  height: 100vh;
  width: 300px;

  &__header {
    height: 100px;
    display: flex;
    align-items: center;

    &__box{
      height: 20px;
      width: 260px;
      margin: 20px;
      display: flex; 
      justify-content: space-between;
      align-items: center;

      &__username{
        color: white;
        font-size: 16px;
        font-weight: bold;
      }

      &__icon{
        width: 60px;
        display: flex;
        justify-content: flex-end;

        &__new-group{
          color: #ffffff;
          margin-right: 5px;
        }

        &__edit-user{
          color: #ffffff;
        }
      }
    }
  }

  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    color: #ffffff ;
    font-weight: bold;

    &__name{
      font-size: 15px;
      padding: 20px 20px 5px;
    }

    &__message{
      font-size: 11px;
      margin: 0 20px 40px 20px;
    }
  }
}